
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

  /*--primary-color: #B20D30;
  --secondary-color: #3F84E5;
  --accent1-color: #f5da89; */

html {
  background-color: black;
}
nav {
  padding: 0;
  margin: 0;
}

nav ul{
  list-style: none;
  padding: 1.5em;
  margin-bottom: 2em;
  background-color:#3F84E5; 
  color: white;
  font-family: 'Parisienne', cursive;
}

nav a {
  color: white; 
  font-size: 26px;
}
a:link { text-decoration: none; }
nav a:hover {
  color: black;
  padding: 20px;
  font-weight: bold;
  background-image: radial-gradient(white, #f5da89, #3F84E5, #3F84E5);
  border-radius: 10pt;
}

ol {
  text-align: left;
  padding: 1.5em;
}

body {
  max-width: 700px;
  margin: 0 auto;
  background-color: #f5da89;
  padding: 1em;
  text-align: center;
}

img {
  max-width: 10rem;
  min-width: 5rem;
  border-radius: 10%;
}

h1 {
    font-size: 30pt;
    font-family: 'Alkalami', serif;
    letter-spacing: 1.5px;

}
h2 {
    font-family:'Indie Flower', cursive;
}

h3 {
    font-family:'Alkalami', serif;
    font-size: 24pt;
    padding: 0.25em;
}

h4 {
  font-family:'Indie Flower', cursive;
  font-size: 18pt;
}
h5, h6 {
    font-family: 'Indie Flower', cursive;
    font-size: 16pt;
}

header, footer {
    border: 1px solid black;
    padding: 1.5rem;
    background-color: #B20D30;
    text-align: center;
    color: white;
}

header {
  line-height: 3em;
}

.copyright, #dateMod {
  font-family:'Alkalami', serif;
  font-size: 14pt;
  padding: 0;
}

p {
  font-family: 'Indie Flower', cursive;
  padding: 1em;
}

section {
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    padding: 1rem;
    margin: 1.5rem;
    margin-top: 0;
}
.personas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  
}
table {
    border: 1px solid black;
}

.colors {
  width: 100%;
  min-width: 350px;
  margin: auto;
  text-align: center;
}
.colors th {
  background-color: black;
  color: white;
  
}
.colors td{
  width: 25%;
  height: 3em;
}

.primary {
  background-color: #F9CB40;
}
.secondary {
  background-color: #B20D30;
  color: white;
}
.accent1 {
  background-color: #3F84E5;
  color: white;
}


