* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

  /*--primary-color: #B20D30;
  --secondary-color: #3F84E5;
  --accent1-color: #f5da89; */

  /* font-family: 'Alkalami', serif;
  font-family:'Indie Flower', cursive; */

html {
  background-color: black;
}

ol {
  text-align: left;
  padding: 1.5em;
}

body {
  max-width: 1300px;
  margin: 0 auto;
  background-color: #f5da89;
  text-align: center;
  padding: 1em;
}
main {
  margin: 1.5em auto;
}

h1 {
    font-size: 30pt;
    font-family: 'Alkalami', serif;
    padding-top: 0.5em;
}

h2 {
    font-family:'Indie Flower', cursive;;
    padding: 0.25em;
}

h4 {
  font-family:'Alkalami', serif;
  font-size: 18pt;
}
h5, h6 {
    font-family: 'Indie Flower', cursive;;
    font-size: 16pt;
}
hr {
  margin: 0.5em;
}
/* ----- Header / Footer ----- */

header, footer {
    padding: 1em;
    background-color: #b20d30;
    text-align: center;
    color: white;
}

header {
  display: grid;
  grid-template-columns: 30% 40% 15% 15%;
  align-items: center;

}


header img {
  width: 100px;
  height: auto;
  border-radius: 40%;
}

footer img {
  max-width: 50px;
  height: auto;
  border-radius: 40%;
}

footer a {
  color: white;
}

.date {
  grid-area: 2/1/3/5;
  padding: 0.25em;
  margin-top: .5em;
  color: white;
  font-size: 18pt;
  font-family: 'Alkalami', serif;
  line-height: 100%;
}

.heading {
  display: flex;
  flex-direction: column;
  line-height: 150%;
}

.social img {
  max-width: 30px;
  max-height: 30px;
  border: 1px solid white;
}

/* ------ Nav ------ */
nav button {
  margin: .2rem;
  background-color: transparent;
  border: none;
  font-size: 2rem;
  color: white;
}

nav ul{
  padding: 1em;
  list-style: none;
  background-color:#3F84E5; 
  font-family: 'Alkalami', serif;
  text-align: center;
}

a:link { text-decoration: none; }
nav a:hover {
  color: #2f2259;
  background-image: radial-gradient(white, #f5da89, #3F84E5, #3F84E5);
  border-radius: 10pt;
}

nav ul li a {
  color: white; 
  font-size: 26px;  
}

nav ul li.active a {
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
}

nav ul {display: none;}
nav ul.open {
  display: block;
  width: 100%;
  margin: 0;
}



/* Hamburger Button */
.menuBtn {
  position: relative;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  cursor: pointer;
  transition: all .5s ease-in-out;
  margin: .5em;
}

.menuBtn-burger {
  width: 30px;
  height: 3px;
  background: white;
  border-radius: 5px;
  box-shadow: 0 2px 5px #0e2207;
  transition: all .5s ease-in-out;
}

.menuBtn-burger::before, .menuBtn-burger::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 3px;
  background: white;
  border-radius: 5px;
  box-shadow: 0 2px 5px #0e2207;
  transition: all .5s ease-in-out;
}

.menuBtn-burger::before {
  transform: translateY(-10px);
}
.menuBtn-burger::after {
  transform: translateY(10px);
}

        /* menu Animation*/

        .menuBtn.open .menuBtn-burger {
          transform: translateX(-50px);
          background: transparent;
          box-shadow: none;
        }
      
        .menuBtn.open .menuBtn-burger::before {
          transform: rotate(45deg) translate(35px, -35px);
          box-shadow: none;
          background: #0e2207;
        }
      
        .menuBtn.open .menuBtn-burger::after {
          transform: rotate(-45deg) translate(35px, 35px);
          box-shadow: none;
          background: #0e2207;
        }


/* ----- Body ----- */

#siteName, #newRelease, #event, #weather {
  padding: 0;
  position: relative;
}

#siteName h3{
  position: absolute;
  top: 25px;
  right: 16px;
  font-family: 'Alkalami', serif;
  font-size: 5vw;
  color: white;
}

#siteName img {
  display: block;
  width:100%;
  height: auto;
  object-fit: contain;
  padding: 0;
  border-radius: 10px;
}

#siteName div {
  position: absolute;
  bottom: 20px;
  left: 30px;
  font-size: 2.5vw;
  color: white;
  border: 1px solid black;
  padding: 1em;
  border-radius: 15pt;
  background: rgba(153, 10, 255, 0.2);
}


#newRelease h3 {
  position: absolute;
  top: 10%;
  width: 100%;
  font-size: 36px;
  font-family: 'Alkalami', serif;
}

#newRelease p {
  position: absolute;
  top: 30%;
  width: 100%;
  text-align: center;
  font-size: 24px;
  color: black;
  object-fit: contain;
  padding: 2em;
}

#event, #siteName {
  background-color: black;
}

#event h3 {
  position: absolute;
  top: 55%;
  width: 100%;
  font-size: 7.5vw;
  font-family: 'Alkalami', serif;
  color: white;
}

#spotlights section:nth-child(3) {
  display: none;
}

#join {
  display: none;
  background-color: black;
}

section {
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    padding: 1rem;
    margin: 0.5rem;
    box-shadow: 5px 5px 5px #999;
    min-height: 15rem;
}

/* ----- Weather ----- */
#weather {
  background-color: rgb(212, 238, 248);
  display: flex;
  flex-direction: column;
  background-color: rgb(212, 238, 248);
}
#weather div {
  padding: .5em;
  font-family: 'Indie Flower', cursive;
  font-size: 18pt;
}
#weather h3 {
  
  padding: 1em;
  font-size: 30px;
  font-family: 'Parisienne', cursive;
  color: black;
}

#weather p {
  padding: 0.5em 0 0  0 ;
  font-weight: bold;
}

#weather img {
  border-radius: 50%;
  padding: .5em;
}

.input {
  padding: 0.25em;
}

#speed, #tempF {
  padding: 0.5em;
  text-align: center;
}

#weather h3 {
  
  padding: 1em;
  font-size: 30px;
  font-family: 'Alkalami', serif;
  color: black;
}

.input label {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: .25em;
}

#display1 {
  background-color: white;
}

/* ----- End of Weather ----- */

/* ----- discover page css ----- */

#images {
  display: grid;
  text-align: center;
  width: 100%;
}

#images section {
  display: flex;
  flex-direction: column;
  padding: 25px 50px;
  margin: 2em;
  background-color: #3F84E5;
  color: white;
  justify-content: center;
}

#images figure {
  border: 1em solid white;
  box-shadow: 5px 5px 5px #999;
  background: black;
}

#images h3 {
  padding: 1em;
}