@media only screen and (min-width: 64rem) {

/* -----------Main Page------------ */
#home {
    display: flex;
    flex-direction: column;
    gap: 0em;
  }


  #summary {
    flex-direction: row;
    justify-content: space-evenly;
  }

  #summary h1 {
    padding: 0.5em;
  }

  #summary p {
    margin: 0 2em;
  }

  .menuBtn {display: none;}

   #primaryNav {    
    display: flex;
    width: 100%;
    justify-content: space-evenly;
   }

   #menuArea {
    justify-content: space-around;
    margin-bottom: 2.5em;
    background-color:rgba(137, 17, 46, 0.75);
}

nav ul li {
  margin: 1em 5em;
}

nav ul li a {
  font-size: 26px;  
}

a:hover {
    font-size: 32px;
}

#resources a:hover {
  color: black;
}

footer a {
  font-size: 22px;
}

#logoBlock {
  flex-basis: 30%;
  justify-content: left;
}

  /* ----- Summary / Product ----- */

  #product {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 1.5em;
  }

  #product h2 {
    margin: 1em;
  }

  .pelement {
    flex-basis: 25%;
  }

  #product img {
    width: 25%;
    height: 25%;
    margin: 1em;
  }

  #summary {
    padding: 2em;
  }

  #summary img {
    min-width: 500px;
  }

    /* ----- Weather ----- */

    #weather {
      display: flex;
      flex-wrap: nowrap;
    }

    #currWeather {
      flex-basis: 25%;
    }
  
    .cwBlock {
      padding: 0.5em;
      margin: 1.5em
    }
  
    #threeDayForcast {
      flex-basis: 75%;
      min-height: 315px;
    }


    /* ----- about page ----- */

    #aboutPage {
      display: flex;
      flex-wrap: wrap;
    }

    #history {
      min-width: 80%;
    }

    #map {
      height: 100%;
      width: auto;
    }

    #contact, #location {
      flex-basis: 45%;
    }

}
