* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-image: url(https://siempreaprendiendo.github.io/wdd230/final/images/background2.webp); 
    background-size: cover;
    text-align: center;
    position: fixed;
    width: 100%;
    height: auto;
}