* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*  font-family: 'Libre Baskerville', serif;
    font-family: 'Klee One', cursive; */

html {
    background: url(https://siempreaprendiendo.github.io/wdd230/final/images/background2.webp) no-repeat fixed; 
    background-size: cover;
}

h1, p {
    font-family: 'Libre Baskerville', serif; 
}

h2 {
    font-family: 'Klee One', cursive;
}

/* ----- Header / Footer ----- */

header, footer {
    background-color: #125B00;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 0 1em 0 1em;
    margin: 0;
}

.headBanner {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 100%;
}

header h1 {
    font-size: 2.5em;
    margin: 0 0 0 0.5em;
}

header h2 {
    font-size: 1em;
    margin: 0 0 0 1.5em;
}

header .logo {
    width: 4rem;
    margin: 1.5em 0 1.5em 0;
}

.social {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0.5em;
}

.social img {
    width: 2.5em;
    margin: 0.25em;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

hr {
    flex-basis: 100%;
}

#logoBlock {
    display: flex;
}

footer .logo {
    display: none;
}

footer h1 {
    margin: 0;
    font-size: 14pt;
}

footer p {
    font-size: 12pt;
}

footer a {
    margin: 0.75em;
    font-size: 12pt;
    color: white;
}

#businessInfo {
    margin: 1em 0 1em 1em;
}

.address {
    margin: 0.5em 0 0.5em 0;
}

.footerEnd {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
}

#dateMod {
    padding: 0.5em;
}
/* ------ Nav ------ */

#menuArea {
    display: flex;
}

#menuArea.open {
    background-color:rgba(137, 17, 46, 0.75);
    width: 100%;
    transition: all .5s ease-in-out;
}

nav button {
    margin: .2rem;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: white;
}
  
nav ul{
    padding: 1em 0.5em 1.5em 0;
    list-style: none;
    font-family: 'Klee One', cursive;
    text-align: left;
}

nav ul li {
    margin: 1em;
}
  
a:link { text-decoration: none; }
a:hover {
    color: yellow;
    font-size: larger;
}
  
nav ul li a {
    color: white;
    font-size: 18px;  
}
  
nav ul li.active a {
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
}
  
nav ul {display: none;}
nav ul.open {
    display: block;
}

/* ----- Hamburger Menu ------ */
.menuBtn {
    cursor: pointer;
    transition: all .5s ease-in-out;
    margin: .5em;
    padding: 1.5em;
}
      
.menuBtn-burger {
    width: 30px;
    height: 3px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px #0e2207;
    transition: all .5s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}
      
.menuBtn-burger::before, .menuBtn-burger::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px #0e2207;
    transition: all .5s ease-in-out;
}
      
.menuBtn-burger::before {
    transform: translateY(-10px);
}
.menuBtn-burger::after {
    transform: translateY(10px);
}
      
    /* menu Animation*/
      
    .menuBtn.open .menuBtn-burger {
        transform: translateX(-50px);
        background: transparent;
        box-shadow: none;
    }
            
    .menuBtn.open .menuBtn-burger::before {
        transform: rotate(45deg) translate(35px, -35px);
        box-shadow: none;
        background: white;
    }
            
    .menuBtn.open .menuBtn-burger::after {
        transform: rotate(-45deg) translate(35px, 35px);
        box-shadow: none;
        background: white;
    }

/* ----- Hero ----- */
#hero {    
    display: flex;
    background-color: #dcfcd4;
    padding: 1.5em 0;
    justify-content: center;
}

#hero h2 {
    font-size: 45pt;
    text-align: center;
}

/* ----- Call To Action ----- */

#callToAction .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#callToAction img {
    width: 100%;
    border-radius: 1em;
}

#callToAction h2 {
    font-size: 1.5em;
    padding: 1em;
}

#callToAction a {
    font-size: 2em;
}
#callToAction a:hover {
    color: #125B00;
    font-size: 3em;
}


/* ----- Summary / Product ----- */

#summary, #product {
    display: flex;
    flex-direction: column;
    padding: 1.5em 1.5em 0 1.5em;
    background-color: rgba(7, 72, 176, 0.6);
    margin: 2.5em;
    text-align: center;
    color: white;
}

#product img {
    background-color: white;
    padding: 1em;
}

#summary p, #product p {
    font-size: 14pt;
    margin: 1em 1em 2em 1em;
}

#product h2, #summary h2 {
    font-size: 24pt;
    margin-top: 0.5em;
}


/* ----- Weather ----- */
#weather {
    background-color: rgba(7, 72, 176, 0.6);
    padding: 1.5em;
    margin: 2.5em;
}

#currWeather, .cwBlock, #threeDayForcast, .fcBlock {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    background-color: white;
    border: 1px solid black;
    border-radius: 0.5em;
    text-align: center;
    padding: 1em;
    max-width: 300px;
    margin: 1.5em auto;
}
     
.fcBlock, .cwBlock { 
    margin: 0.5em;
    height: auto;
    min-width: 225px;
    background-color: rgb(186, 229, 245);
}
          
.today, .day1, .day2, .day3 {
    font-family: 'Libre Baskerville', serif;
    font-size: 1.5em;
}

/* ------------- Fresh Page -------------- */

    /* ----- Form ----- */

    #orderForm, #contact, #history, #resources, .submit, #callToAction {
        background-color: rgba(7, 72, 176, 0.6);
        padding: 1.5em;
        margin: 2.5em auto;
        max-width: 600px;
    }

     .formArea {
        display: flex;
        flex-direction: column;
        background-color: white;
        margin: auto;
        background: white;
        border-radius: 1%;
    }

    .customer, .order {
        display: flex;
        flex-direction: column;
        margin: 1em;
    }

    .order p {
        text-align: center;
        padding: 2em;
    }

    select {
        margin-bottom: 12px;
        padding: 12px;
        font-family: 'Libre Baskerville', serif;
    }

    select, textarea {
        width: 100%;
    }

    input, textarea {
        padding: 12px;
        border: 1px solid black;
        border-radius: 4px;
    }

    fieldset {
        display: flex;
        flex-direction: column;
    }

    .submitBtn, .orderNow {
        display: flex;
        width: 10em;
        margin: 1.5em auto;
        font-family: 'Klee One', cursive;
        font-size: x-large;
        background-color: #89112E;
        color: white;
        justify-content: center;
    }

    label{
        display: flex;
        flex-direction: column;
        font-weight: bold;
        margin: 0.5em;
    }

    legend {
        color: #89112E;
    }

    .content, .cardContent, .contentBox {
        background-color: white;
        padding: 1.5em;
    }
    
    .cardContent p {
        padding: 0.5em;
    }    

    .cardContent h2 {
        text-align: center;
        margin-bottom: 1em;
    }


/* ----- About Us Page ----- */

#history {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#history img {
    margin: 1em;
    border-radius: 50%;
    width: 200px;
    align-self: center;
}

#history h2 {
    padding: 0.5em;
}

#history p {
    margin-bottom: 1em;
}

fieldset {
    margin: 2px 12px 12px 12px;
}

.cpAddress {
    padding: 1.5em;
    text-align: center;    
}

.cpAddress img {
    opacity: 0.1;
    width: 200px;
    align-self: center;
}

.cpAddress h2 {
    font-size: 28pt;
}

.cpAddress p {
    font-size: 20pt;
    font-weight: bolder;
}

.logoBox {
    position: relative;
}

.addressBox {
    position: absolute;
    top: 4%;
    left: 3%;
}

#location {
    background-color: rgba(7, 72, 176, 0.6);
    padding: 1.5em;
    margin: 2.5em auto;
}

#map {
    height: 400px; 
    width: 100%;
}


/* ----- resources page ----- */

#resources .content {
    padding: 2.5em 5em 5em 5em;
    min-height: 400px;
}
#resources ul{
    padding: 1em 2em;    
}